<ion-tabs>

  <ion-tab-bar slot="bottom" color="aaa">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="extension-puzzle-outline"></ion-icon>
      <ion-label style="color: aliceblue;">Day 15</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="cloudy-night-outline"></ion-icon>
      <ion-label style="color: aliceblue;">Day 19</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label style="color: aliceblue;">Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
