// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-aaa: #8ea4c7;
	--ion-color-aaa-rgb: 142,164,199;
	--ion-color-aaa-contrast: #000000;
	--ion-color-aaa-contrast-rgb: 0,0,0;
	--ion-color-aaa-shade: #7d90af;
	--ion-color-aaa-tint: #99adcd;
}

.ion-color-aaa {
	--ion-color-base: var(--ion-color-aaa);
	--ion-color-base-rgb: var(--ion-color-aaa-rgb);
	--ion-color-contrast: var(--ion-color-aaa-contrast);
	--ion-color-contrast-rgb: var(--ion-color-aaa-contrast-rgb);
	--ion-color-shade: var(--ion-color-aaa-shade);
	--ion-color-tint: var(--ion-color-aaa-tint);
}